/* Container for Left and Right parts */
.container {
  display: flex; /* Aligns the left and right containers side by side */
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* height: 50vh; */
}

/* Style for the left container */
.left-container {
  flex: 2;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

/* Grid layout for input items - Ensure items are aligned in 2 columns */
.input-items {
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
  gap: 10px; 
  border-radius: 4px;
  /* background-color: #f9f9f9; */
  text-align: left;
  
  max-width: 90%;
  width: 100%;
  padding: 10px;
}

/* Style for each input item */
.input-item {
  display: flex;
  align-items: center; 
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for input actions (buttons) */
.input-actions {
  margin-top: 10px;
  display: flex;
  gap: 5px; 
}

/* Style for header container to center items */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 10px;
}

/* Style for form title */
.header-container .form-title {
  margin-right: 10px; 
}

/* Style for the create form button */
.create-form-button {
  margin-top: 20px;
}

/* Style for the input options section */
.input-options {
  margin-top: 10px;
}
 

.input-bottom-border {
    border: none; 
  border-bottom: 1px solid #ccc; 
  padding: 8px; 
  outline: none; 
  box-shadow: none; 
}

.input-bottom-border:focus {
  border-bottom: 2px solid #add8e6; 
}

.add-input-button {
    margin-top: 15px;
}

.input-option-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap : 10px;
}



/* right .container css */
.right-container {
   flex: 1;
   margin-left: 20px;
    
}

.center-button-container {
    display: flex;
    justify-content: center;
}


.add-input-btn {
    display: flex;
    justify-content: center;
}